.list {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  margin: 1% auto;
  padding: 2% 2% 0 5%;
  background-color: #ffe88c;
}

.doodle {
  padding: 3%;

  img {
    width: 40%;
  }
}
