.list {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 90%;
  margin: 1% auto;
  padding: 2% 2% 0 5%;
  background-color: #ffe88c;
}

.doodle {
  padding: 3%;
  img {
    width: 80%;
  }
}

@media (min-width: 550px) {
  .list {
    width: 80%;
  }
  .doodle {
    img {
      width: 60%;
    }
  }
}

@media (min-width: 850px) {
  .list {
    width: 50%;
  }

  .doodle {
    img {
      width: 40%;
    }
  }
}
