.item {
  display: flex;
  cursor: pointer;

  .number,
  .text {
    margin: 2% 1%;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    .check {
      visibility: hidden;
    }
  }

  .delete {
    margin: auto 1%;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    visibility: hidden;

    &:hover {
      text-decoration: underline;
    }
  }

  .number {
    margin-right: 3%;
  }

  .invisible {
    visibility: hidden;
  }

  &:hover {
    .check,
    .delete {
      visibility: visible;
    }
  }
}

.checked {
  p {
    text-decoration: line-through;
  }
}
